.weiqi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-color: #222;
    color: #fff;
    text-align: center;
}
.h1 {
    font-weight: normal;
    font-size: 4rem;
    line-height: 8.5rem;
}
.p {
    line-height: 2.4rem;
}
.a {
    color: #BABB3C;
}
